{% extends "layout.html" %}

{% block title %}
   Guardia médica
{% endblock %}

{% block main %}
        <!-- Contenido principal -->
        <h1 class="Bienvenido"> Bienveni2 to2</h1>
        <div class="container mt-4">

        Hola, estás en una página que se enfoca en ayudar al médico que está de guardia a "sacar la chamba" de manera
                más rápida y eficaz. Es decir, se enfoca en responder de manera rápida muchas de las preguntas generales que nos pueden
            surgir.
        Sin más detalles, siéntete libre de nevegar por la página si no tienes algo específico en mente.
    Salu2.
    <h2 class="Bienvenido"> Podrás encontrar</h2>
    <q> Hacen más por la medicina quienes buscan que quienes concluyen.
    </q>Ángeles Mastretta.
  <ol>

        <li> Escalas interactivas: para que tengas más tiempo de preguntarle al paciente con Glasgow 5 cuántos focos tiene en su casa</li>
        <li> Entretenimiento: a veces la guardia puede estar demasiado fisiológicas</li>
        <li> Divisón de guardias: para poder dividir justamente cuánto tiempo se va a quedar cada persona</li>
    </ol>

    <img src="{{ url_for('static', filename='Foto.dr.goku.png') }}" alt="El legendrio Dr. Goku" class="DrGoku">

        </div>
{% endblock %}
